<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>
<app-layout></app-layout>

<div class="wrapper" [class.expanded]="expanded">
  <div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
           <main>
              <div class="container"  [class.sidebar-expanded]="expanded" [class.sidebar-collapsed]="!expanded" >
<div id="content">
               <h1 class="mt-4">Profils</h1>
 
               <div class="card">
                 <div class="flex justify-content-end mb-2">
                   <button pButton label="Nouveau profil" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
                 </div>
                 <p-table [value]="profils" [paginator]="true" [rows]="5" [scrollable]="true" [style]="{width: '100%'}">
                   <ng-template pTemplate="header">
                     <tr>
                       <th pSortableColumn="libelleProfil">Libellé du Profil <p-sortIcon field="libelleProfil"></p-sortIcon></th>
                       <th>Actions</th>
                     </tr>
                   </ng-template>
 
                   <ng-template pTemplate="body" let-profil>
                     <tr>
                       <td>{{ profil.libelleProfil }}</td>
                       <td>
                        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProfil(profil)"></button>
                        <button pButton pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [text]="true"  (click)="deleteProfil(profil)"></button>
                      </td>
                     </tr>
                   </ng-template>
                 </p-table>
               </div>
 
               <p-dialog header="Détails du Profil" [(visible)]="profilDialog" [modal]="true" [style]="{width: '400px'}">
                 <div class="p-fluid">
                   <div class="field">
                     <label for="libelleProfil">Libellé</label>
                     <input id="libelleProfil" type="text" pInputText [(ngModel)]="profil.libelleProfil" required/>
                   </div>
                 </div>
                 <p-footer>
                  <button pButton label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                  <button pButton label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)="saveProfil()"></button>
                </p-footer>
               </p-dialog>
 
             </div>
           </div>
         </main>
       </div>
     </div>
   </div>
 </div>
 