<div class="header_section header_bg">
    <div class="container">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><a routerLink="/" ><img src="assets/images/Asset 3.png" ></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngFor="let item of navItems; let i = index">
                   <a class="nav-link" (click)="navigateTo(item.link)">{{ item.label }}</a>
                </li>
             </ul>
             <form class="form-inline my-2 my-lg-0">
                <div class="login_bt">
                   <ul>
                      <li><a routerLink="/register" class="btn-primary">S'inscrire</a></li>
                      <li><a routerLink="/login" class="btn-primary">Se connecter</a></li>
                   </ul>
                </div>
             </form>
          </div>
       </nav>
    </div>
 </div>