<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-layout></app-layout>

<div class="wrapper" [class.expanded]="expanded">
  <div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
         <main>
           <div class="container" [class.sidebar-expanded]="expanded" [class.sidebar-collapsed]="!expanded">
             <div id="content">
               <h1 class="mt-4">Employeurs</h1>
 
               <div class="card">
                 <div class="flex justify-content-end mb-2">
                   <button pButton label="Nouvel Employeur" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
                 </div>
 
                 <p-table [value]="employeurs" [paginator]="true" [rows]="5" [scrollable]="true" [style]="{width: '100%'}">
                   <ng-template pTemplate="header">
                     <tr>
                       <th pSortableColumn="nomEmployeur">Nom Employeur <p-sortIcon field="nomEmployeur"></p-sortIcon></th>
                       <th>Actions</th>
                     </tr>
                   </ng-template>
 
                   <ng-template pTemplate="body" let-employeur>
                     <tr>
                       <td>{{ employeur.nomEmployeur }}</td>
                       <td>
                         <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmployeur(employeur)"></button>
                         <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteEmployeur(employeur)"></button>
                       </td>
                     </tr>
                   </ng-template>
                 </p-table>
               </div>
 
               <p-dialog header="Détails Employeur" [(visible)]="employeurDialog" [modal]="true" [style]="{width: '400px'}">
                 <div class="p-fluid">
                   <div class="field">
                     <label for="nomEmployeur">Nom Employeur</label>
                     <input id="nomEmployeur" type="text" pInputText [(ngModel)]="employeur.nomEmployeur" required/>
                   </div>
                 </div>
                 <p-footer>
                   <button pButton label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                   <button pButton label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)="saveEmployeur()"></button>
                 </p-footer>
               </p-dialog>
 
               <p-confirmDialog></p-confirmDialog>
 
             </div>
           </div>
         </main>
       </div>
     </div>
   </div>
 </div>
 